@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-progress {
	background: #ccc;
}

.slide-progress-bar {
	background: greenyellow;
	height: 2px;
	transition: width 400ms ease;
	width: 0;
}
